*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;

  background-color: var(--White);
}

.button {
  display: block;
  padding: 0;

  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
}

.buttonicon {
  display: block;
  &--light {
    filter: brightness(0) invert(1);
  }
}

.gallery,
.thumbnail-container {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.mobile-menu--expanded,
.modal--expanded {
  overflow-y: hidden;
}
