- var items = ["Collections", "Men", "Women", "About","Contact"]
header.header
  nav.navbar
    button.togglemenu(type="button" aria-label="toggle menu")
      img.togglemenu__img(src="./assets/images/icon-menu.svg" alt="")
    ul.mainmenu
      each item in items
        li.mainmenu__item
          a.mainmenu__link(href="#")= item
  
  img.logo(src="./assets/images/logo.svg" alt="Logo")
  ul.extramenu
    li.extramenu__item
      button.extramenu__button(type="button" aria-label="cart menu")
        img.extramenu__img--cart(src="./assets/images/icon-cart.svg" alt="cart")
    li.extramenu__item
      a.extramenu__link(href="#" aria-label="go to my profile page")
        img.extramenu__img--profile(src="./assets/images/image-avatar.png" alt="avatar")