- var ids = ["1","2","3","4"]

main.main-container 
 article.product
  .text-container
    .description
      h2.title sneaker company 
      h3.subtitle fall limited edition<br>sneakers
      p.paragraph These low-profile sneakers are your perfect casual wear companion. Featuring a durable rubber outer sole, they’ll withstand everything the weather can offer.
    p.prices
      span.discountprice $125.00
      span.originalprice $250.00
    form.productform
      input(type="hidden", name="id" value="sneakers")
      .quantity-controls
        button.button.button--minus#button--minus.button--lighthover(type="button" aria-label="decrease quantity to buy" aria-controls="buyquantity")
          img.buttonicon(src="./assets/images/icon-minus.svg" alt="")
        .input-container(id="buyquantity" role="region" aria-live="polite")  
          input.quantity#quantity(type="number", name="quantity" value="0")
        button.button.button--plus#button--plus.button--lighthover(type="button" aria-label="increase quantity to buy" aria-controls="buyquantity")
          img.buttonicon(src="./assets/images/icon-plus.svg" alt="")
      button.button.button--add.button--lighthover(aria-label="add item to cart")
        img.buttonicon.buttonicon--light(src="./assets/images/icon-cart.svg" alt="")
        span.addbutton__text Add to cart

  .gallery-container 
    include ../mixins/gallery
    +gallery