-var ids = ["1","2","3","4"]

.overlay.hidemodal(role="dialog" aria-modal="true")
  .modal-dialog
    button.button.button--close(type="button" aria-label="close model")
      img.buttonicon.buttonicon--light(src="./assets/images/icon-close.svg" alt="")
    .gallery-container 
      include ../mixins/gallery
      +gallery("modal")