-var ids = ["1","2","3","4"]

.overlay.hidemodal
  button.button.button--close(type="button" aria-label="close model")
    img.button__img(src="./assets/images/icon-close.svg" atl="")
  .gallery-container 
    include ../blocks/gallery