:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-vark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Black-overlay: hsl(0, 0%, 0%, 75%);
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--White);
}

.button {
  display: block;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid transparent;
}

.buttonicon {
  display: block;
}
.buttonicon--light {
  filter: brightness(0) invert(1);
}

.gallery,
.thumbnail-container {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.9rem;
  width: 87.2%;
  max-width: 1110px;
  min-height: 2rem;
  margin-inline: auto;
  padding-inline: 0;
  padding-top: clamp(1.2rem, 5.1vw, 2rem);
  padding-bottom: clamp(1.5rem, 6.4vw, 2.1rem);
}
@media screen and (min-width: 768px) {
  header {
    gap: 0;
    border-bottom: 1px solid var(--Grayish-blue);
  }
}

.navbar {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .togglemenubutton {
    display: none;
  }
}

.mainmenu,
.extramenu {
  margin: 0;
  list-style: none;
}

.menuoverlay {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--Black-overlay);
}

.mainmenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.6rem;
  padding-top: 5.85rem;
  padding-left: 7vw;
  width: 70%;
  min-height: 100vh;
  background-color: var(--White);
}
@media screen and (min-width: 768px) {
  .mainmenu {
    flex-direction: row;
    width: auto;
    padding: 0;
    min-height: 0;
    background-color: transparent;
  }
}
.mainmenu__link {
  position: relative;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--Black);
}
@media screen and (min-width: 768px) {
  .mainmenu__link {
    font-weight: 400;
    color: var(--Dark-grayish-blue);
  }
}
@media screen and (min-width: 1024px) {
  .mainmenu__link:hover {
    color: var(--Black);
  }
  .mainmenu__link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3rem;
    width: 100%;
    height: 4px;
    background-color: var(--Orange);
    border-radius: 2px;
  }
}

.logo {
  display: block;
  margin-block-end: 4px;
}
@media screen and (min-width: 768px) {
  .logo {
    order: -1;
    margin-right: 1rem;
  }
}

.extramenu {
  display: inline-flex;
  align-items: center;
  gap: 1.2rem;
  padding-left: 0;
  margin-left: auto;
}
.extramenu__item {
  position: relative;
}
.extramenu__link {
  display: block;
  width: clamp(1.5rem, 6.4vw, 3rem);
}

@media screen and (min-width: 1024px) {
  .cartbutton:hover {
    filter: brightness(0.2);
  }
}

.cartindicator {
  position: absolute;
  right: -5px;
  bottom: 1rem;
  padding: 0.1rem 0.4rem;
  font-size: 0.65rem;
  font-weight: 700;
  background-color: var(--Orange);
  color: var(--White);
  border-radius: 0.5rem;
}

.cart {
  position: absolute;
  top: clamp(56px, 7.8vw, 60px);
  right: -3.5rem;
  width: 94vw;
  max-width: 364px;
  min-height: 258px;
  background-color: var(--White);
  border-radius: 8px;
  box-shadow: 0 5px 15px var(--Grayish-blue);
}
.cart__title {
  padding-left: 1.6rem;
  padding-block: 0.5em 1.3em;
  margin-bottom: 0;
  font-size: 1.1rem;
  border-bottom: 1px solid var(--Grayish-blue);
}

.emptydescription {
  position: relative;
  top: 4rem;
  text-align: center;
  font-weight: 700;
  color: var(--Dark-grayish-blue);
}

.cartform {
  min-height: 190px;
  padding-inline: 1.5rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--Dark-grayish-blue);
}
.item__avatar {
  display: block;
  width: 52px;
  margin-right: 1rem;
  border-radius: 4px;
}
.item__description {
  margin-block-start: 0;
  margin-block-end: 0.8rem;
}
.item__cost {
  margin-block: 0;
}
.item__totalprice {
  font-weight: 700;
  color: var(--Black);
}
.item__delete {
  margin-left: auto;
}

.cartproducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  padding-block: 1.5rem;
  padding-left: 0;
  margin: 0;
}

.checkout {
  display: block;
  margin-inline: auto;
  margin-bottom: 0.5rem;
  padding-block: 1.15em;
  width: 100%;
  font-weight: 700;
  background-color: var(--Orange);
  color: var(--White);
  border: none;
  border-radius: 8px;
}

.avatar {
  display: block;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  .avatar:hover {
    border: 2px solid var(--Orange);
  }
}

.menuoverlay--hide {
  display: none;
}
@media screen and (min-width: 768px) {
  .menuoverlay--hide {
    display: unset;
    position: static;
    width: auto;
    min-height: 0;
    background-color: transparent;
  }
}

.hide {
  display: none;
}

.product {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .product {
    flex-direction: row-reverse;
    width: 87.2%;
    max-width: 1110px;
    margin-inline: auto;
    padding-block: 5rem;
  }
}

.text-container {
  padding-inline: 1rem;
}
@media screen and (min-width: 768px) {
  .text-container {
    width: 50%;
    padding-inline: 3rem;
  }
}

.title {
  margin-block-start: 1.5rem;
  margin-block-end: 1rem;
  text-transform: uppercase;
  font-size: clamp(0.8rem, 3.4vw, 0.9rem);
  color: var(--Orange);
}

.subtitle {
  margin-block-start: 0;
  margin-block-end: 1.3rem;
  text-transform: capitalize;
  font-size: clamp(1.61rem, 6.87vw, 2.7rem);
}

.paragraph {
  margin-block-end: 1.6rem;
  font-size: 0.95rem;
  line-height: 1.6;
  color: var(--Dark-grayish-blue);
}

.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1.7rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .prices {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.discountprice {
  position: relative;
  font-size: 1.8rem;
  color: var(--Black);
}
.discountprice::after {
  position: absolute;
  padding: 0.2em 0.5em;
  left: 7.3rem;
  bottom: 4px;
  content: "50%";
  font-size: 1rem;
  color: var(--Orange);
  background-color: var(--Pale-orange);
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .discountprice {
    margin-block-end: 1rem;
  }
}

.originalprice {
  text-decoration: line-through;
  color: var(--Grayish-blue);
}

.productform {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
}
@media screen and (min-width: 1024px) {
  .productform {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.quantity-controls {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  background-color: var(--Light-grayish-blue);
  border-radius: 8px;
}
@media screen and (min-width: 1024px) {
  .quantity-controls {
    width: 54%;
  }
}

.button--minus,
.button--plus {
  position: relative;
  padding-block: 0.98rem;
  padding-inline: 1rem;
}

.input-container {
  padding-block: 0.98rem;
  flex-grow: 1;
}

.quantity {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  text-align: center;
  border: none;
  background-color: transparent;
  appearance: textfield;
}
.quantity::-webkit-inner-spin-button, .quantity::-webkit-outer-spin-button {
  appearance: none;
}

.button--add {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-block: 0.98rem;
  margin-bottom: 5rem;
  font-weight: 700;
  color: var(--White);
  background-color: var(--Orange);
  border-radius: 8px;
  box-shadow: 0 3px 10px var(--Orange);
}
@media screen and (min-width: 768px) {
  .button--add {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .button--add:hover {
    border-color: rgba(255, 255, 255, 0.4);
  }
}

.gallery-container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .gallery-container {
    width: 50%;
    padding-inline: 3rem;
  }
}

.gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80vw;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .gallery {
    height: auto;
    margin-block-end: 1.8rem;
  }
}
.gallery__item {
  flex-shrink: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    border-radius: 12px;
    overflow: hidden;
  }
}
.gallery__img {
  object-fit: cover;
}

.gallery__img,
.thumbnail__img {
  display: block;
  width: 100%;
}

.buttonproduct {
  position: absolute;
  top: 0;
  left: 3rem;
  width: calc(100% - 6rem);
  aspect-ratio: 1/1;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: default;
}
@media screen and (max-width: 767px) {
  .buttonproduct {
    display: none;
  }
}

.slide-controls {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .slide-controls--hide {
    display: none;
  }
}

.button--slide {
  padding: 0.7rem 0.8rem;
  margin-inline: 1rem;
  background-color: var(--White);
  border-radius: 1.3rem;
}

.buttonicon--slide {
  height: 12px;
}

.thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 767px) {
  .thumbnail-container {
    display: none;
  }
}

.thumbnail__item {
  width: 25%;
}

.thumbnail__button {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.thumbnail__button--active {
  border-color: var(--Orange);
}
.thumbnail__button--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1024px) {
  .button--lighthover:hover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.controls {
  display: flex;
}

.overlay {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 1;
  background-color: var(--Black-overlay);
}
@media screen and (max-width: 767px) {
  .overlay {
    display: none;
  }
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.button--close {
  margin-inline-start: calc(48% - 6rem);
  margin-block-end: 1rem;
}

.thumbnail-container--modal {
  width: 80%;
  margin-inline: auto;
}

.slide-controls--modal {
  top: 40%;
  left: 1.5rem;
  width: calc(100% - 3rem);
}

.button--slidemodal {
  margin-inline: 0;
  padding: 1rem 1.1rem;
  border-radius: 1.5rem;
}

.hidemodal {
  display: none;
}