doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title E-Comerce product
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" 
    rel="stylesheet")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/styles.css")
    script(src="js/scripts.js" type="module") 
  body#body
    include ../layout/header.pug
    include ../layout/main.pug
    include ../layout/modal.pug
    template#itemtemplate
      li.item 
        img.item__avatar(src="" alt="")
        .item__text 
          p.item__description 
          p.item__cost 
            span.item__unitprice 
            span.item__quantity 
            span.item__totalprice 
        button.button.item__delete(type="button" aria-label="Delete this item")
          img.buttonicon(src="./assets/images/icon-delete.svg" alt="")