mixin gallery(type)
  - var ClassName = "slide-controls"
  if (type === "modal")
    - ClassName = "slide-controls--modal"
  ul.gallery 
    each image in ids
      li.gallery__item 
        img.gallery__img(src=`./assets/images/image-product-${image}.jpg` alt="")
  if (type !== "modal")      
    button.buttonproduct(type="button" aria-label="press to zoom the images")
  div(class= ClassName)
    button.button.button--slide(type="button" aria-label="click to see previous image")
      img.buttonicon.buttonicon--slide(src="./assets/images/icon-previous.svg" alt="")
    button.button.button--slide(type="button" aria-label="click to see next image")
      img.buttonicon.buttonicon--slide(src="./assets/images/icon-next.svg" alt="")
  
  ul.thumbnail-container
    each thumbn in ids
      li.thumbnail__item
        button.thumbnail__button(type="button" aria-label="select image")
          img.thumbnail__img(src=`./assets/images/image-product-${thumbn}-thumbnail.jpg` alt="")